{{#bs-form model=instance onSubmit=(action "save" instance) as |form|}}
  {{!form.element controlType="text" label="Place" placeholder="1" property="place" size="sm"}}
  <div class="row">
    <div class="col-2">
      {{form.element controlType="number" label="Page" placeholder=placeholder.page property="page" size="sm"}}
    </div>
    <div class="col-2">
      {{form.element controlType="number" label="Sequence" placeholder=placeholder.sequence property="sequence" size="sm"}}
    </div>
    <div class="col-8">
      {{form.element controlType="text" label="Place name in text" placeholder="1" property="text" size="sm"}}
    </div>
  </div>
  {{#if book.special_field}}
    {{form.element controlType="text" label=book.special_field placeholder="1" property="special" helpText=book.special_help_text size="sm"}}
  {{/if}}
  <div class="row">
    <div class="col-9">
      {{form.element controlType="textarea" label="Note" placeholder="1" property="note" size="sm"}}
    </div>
    <div class="col-3 d-flex align-items-end">
      {{bs-button defaultText="Save" class="mb-3" type="primary" buttonType="submit"}}
    </div>
  </div>
{{/bs-form}}
