<form {{action "save" instance on="submit"}}>
  {{!form.element controlType="text" label="Place" placeholder="1" property="place" size="sm"}}
  <div class="row">
    <div class="col-2 form-group">
      <label for="{{elementId}}-page">Page</label>
      {{input name="page" id=(concat elementId "-page") value=instance.page type="number" class="form-control form-control-sm" readonly=readonly}}
      <!-- <input type="number" class="form-control form-control-sm" value={{instance.page}}> -->
    </div>
    <div class="col-2 form-group">
      <label for="{{elementId}}-sequence">Sequence</label>
      {{input name="sequence" id=(concat elementId "-sequence") value=instance.sequence type="number" class="form-control form-control-sm" readonly=readonly}}
    </div>
    <div class="col-8 form-group">
      <label for="{{elementId}}-text">Place name in text</label>
      {{input name="text" id=(concat elementId "-text") value=instance.text type="text" class="form-control form-control-sm" readonly=readonly}}
    </div>
  </div>
  {{#if book.special_field}}
    <div class="form-group">
      <label for="{{elementId}}-special">{{book.special_field}}</label>
      {{input name="special" id=(concat elementId "-special") value=instance.special type="text" class="form-control form-control-sm" readonly=readonly}}
      <small class="form-text text-muted">{{book.special_help_text}}</small>
    </div>
  {{/if}}
  <div class="row">
    <div class="form-group col-9">
      <label for="{{elementId}}-note">Note</label>
      {{textarea id=(concat elementId "-note") class="form-control form-control-sm" value=instance.note placeholder="Example" readonly=readonly}}
    </div>
    <div class="col-3 d-flex align-items-end">
      {{#unless readonly}}
        <button class="btn btn-primary mb-3" type="submit">
          {{#if instance.isNew}}
            Create
          {{else}}
            Update
          {{/if}}
        </button>
      {{/unless}}
    </div>
  </div>
</form>
