<div class="row" id="instance-{{instance.id}}-overview">
  <div id="instance-{{instance.id}}-controls" class="col-2 d-inline-flex justify-content-between pl-0">
    {{fa-icon "eye"}}
    <a href="#" data-target="#instance-{{instance.id}}-dropdown" 
      data-toggle="collapse" role="button" 
      aria-expanded="false" aria-controls="instance-{{instance.id}}-dropdown">
        {{fa-icon "pencil-alt"}}
      </a>
    {{fa-icon "trash-alt"}}
  </div>
  <div class="col-2" id="instance-{{instance.id}}-position">
    {{instance.page}}:{{instance.sequence}}
  </div>
  <div class="col-8 pl-0" id="instance-{{instance.id}}-text">
    {{instance.text}}
  </div>
</div>
<div id="instance-{{instance.id}}-dropdown" class="collapse">
  {{ instance-form readonly=true instance=instance book=model }}
</div>
