<div class="row" id="instance-{{instance.id}}-overview">
  <div id="instance-{{instance.id}}-controls" class="col-1 pl-0">
    {{#toggle-button buttonSize="sm" buttonClass="primary" type="button" data-target=(concat "#instance-" instance.id "-dropdown") data-toggle="collapse" aria-expanded="false" aria-controls="instances-list"}}
        {{fa-icon "pencil-alt"}}
      {{/toggle-button}}
  </div>
  <div class="col-2" id="instance-{{instance.id}}-position">
    {{instance.page}}:{{instance.sequence}}
  </div>
  <div class="col-9 pl-0" id="instance-{{instance.id}}-text">
    {{instance.text}}
  </div>
</div>
<div id="instance-{{instance.id}}-dropdown" class="collapse">
  {{ instance-form readonly=true instance=instance book=model }}
</div>
