{{#bs-navbar position="sticky-top" type=(if inverse "inverse") fluid=fluid collapsed=collapsed onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
    {{#nav.item}}{{#nav.link-to "index"}}NYWalker{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "books"}}{{fa-icon "book"}}<span class="sr-only">Books</span>{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "places"}}{{fa-icon "map-pin"}}<span class="sr-only">Places</span>{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "help"}}{{fa-icon "question-circle"}}<span class="sr-only">Help</span>{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "about"}}{{fa-icon "info-circle"}}<span class="sr-only">About</span>{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}
      <a class="nav-link" {{action "login"}}>{{fa-icon "sign-in-alt"}}<span class="sr-only">Login</span></a>
      {{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}

