{{#bs-navbar position="sticky-top" type=(if inverse "inverse") fluid=fluid collapsed=collapsed onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
    {{#nav.item}}{{#nav.link-to "index"}}NYWalker{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "books" (html-attributes aria-label="List of Books")}}{{fa-icon "book" }}{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "places" (html-attributes aria-label="List of Places")}}{{fa-icon "map-pin"}}{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "help" (html-attributes aria-label="Help Page")}}{{fa-icon "question-circle"}}{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "about" (html-attributes aria-label="About NYWalker")}}{{fa-icon "info-circle"}}{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}
      <a class="nav-link" {{action "login"}} aria-label="Login to NYWalker">{{fa-icon "sign-in-alt"}}</a>
      {{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}

