<nav class="nav nav-pills m-3">
{{#link-to "index" class="nav-item nav-link"}}NYWalker{{/link-to}}
{{#link-to "books" (html-attributes class="nav-item nav-link" aria-label="List of Books")}}{{fa-icon "book" }}{{/link-to}}
{{#link-to "places" (html-attributes class="nav-item nav-link" aria-label="List of Places")}}{{fa-icon "map-pin"}}{{/link-to}}
{{#link-to "help" (html-attributes class="nav-item nav-link" aria-label="Help Page")}}{{fa-icon "question-circle"}}{{/link-to}}
{{#link-to "about" (html-attributes class="nav-item nav-link" aria-label="About NYWalker")}}{{fa-icon "info-circle"}}{{/link-to}}
{{#link-to "index" (html-attributes class="nav-item nav-link" aria-label="Login to NYWalker")}}{{fa-icon "sign-in-alt"}}{{/link-to}}
</nav>
